
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    height: 1900px;
}

section {
    margin-bottom: 3rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#contact-form input,
#contact-form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

button {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#scrollIndicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 0;
    background: linear-gradient(90deg, purple, blue, orange, red, green);
    z-index: 1000;
    transition: width 0.2s ease;
    animation: colorShift 5s infinite alternate;
    background-size: 300% 100%; /* Extend the gradient for smoother transitions */
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%; /* Start of the gradient */
    }
    100% {
        background-position: 100% 50%; /* End of the gradient */
    }
}
